<div class="modal-overlay" (click)="close()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h3 class="modal-title">Add Task</h3>
      <button class="close-btn" (click)="close()">&times;</button>
    </div>
    <form [formGroup]="addTaskForm" (ngSubmit)="onTaskSubmit()">
      <!-- Task Title -->
      <div class="form-group">
        <label for="taskTitle">Task Title</label>
        <input
          type="text"
          id="taskTitle"
          formControlName="taskTitle"
          required
          class="input-field"
        />
        <div
          *ngIf="
            addTaskForm.controls['taskTitle'].touched &&
            addTaskForm.controls['taskTitle'].invalid
          "
          class="error-text"
        >
          <ng-container
            *ngIf="addTaskForm.controls['taskTitle'].hasError('required')"
          >
            Task title is required.
          </ng-container>
          <ng-container
            *ngIf="addTaskForm.controls['taskTitle'].hasError('minlength')"
          >
            Task title must be at least 3 characters long.
          </ng-container>
        </div>
      </div>

      <!-- Task Description -->
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          id="description"
          formControlName="taskDescription"
          maxlength="250"
          required
          class="input-field"
        ></textarea>
        <small
          *ngIf="
            addTaskForm.controls['taskDescription'].touched &&
            addTaskForm.controls['taskDescription'].invalid
          "
          class="error-text"
        >
          <ng-container
            *ngIf="addTaskForm.controls['taskDescription'].hasError('required')"
          >
            Description is required.
          </ng-container>
          <ng-container
            *ngIf="
              addTaskForm.controls['taskDescription'].hasError('maxlength')
            "
          >
            Description cannot be more than 250 characters.
          </ng-container>
        </small>
      </div>

      <!-- Assign To -->
      <div class="form-group danger">
        <label for="assignedTo">Assign Task</label>
        <div class="dropdown-container">
          <input
            type="text"
            id="searchInput"
            placeholder="Select a user..."
            (click)="toggleDropdown()"
            readonly
            [value]="
              selectedUserName || 'Select a user'"
            class="dropdown-input"
          />
          <div class="dropdown-content" [ngClass]="{ show: isDropdownOpen }">
            <input
              type="text"
              id="dropdownSearch"
              placeholder="Search users..."
              (input)="filterUsers($event)"
              class="dropdown-search-input"
            />
            <div class="dropdown-divider"></div>
            <div
              *ngFor="let user of filteredUsers"
              (click)="selectUser(user)"
              class="dropdown-option"
            >
              {{ user.name }}
            </div>
          </div>
        </div>
        <small
          *ngIf="
            addTaskForm.controls['taskAssignedTo'].touched &&
            addTaskForm.controls['taskAssignedTo'].hasError('required')
          "
          class="error-text"
        >
          Please select a user to assign the task.
        </small>
      </div>
      

      <!-- Estimated Time -->
      <div class="form-group">
        <label for="estimatedTime">Estimated Time (hours)</label>
        <input
          type="number"
          id="estimatedTime"
          formControlName="taskEstimatedTime"
          min="1"
          required
          class="input-field"
        />
        <small
          *ngIf="
            addTaskForm.controls['taskEstimatedTime'].touched &&
            addTaskForm.controls['taskEstimatedTime'].hasError('required')
          "
          class="error-text"
        >
          Estimated time is required.
        </small>
      </div>

      <!-- Due Date -->
      <div class="form-group">
        <label for="dueDate">Due Date</label>
        <input
          type="date"
          id="dueDate"
          formControlName="taskDueDate"
          required
          class="input-field"
        />
        <small
          *ngIf="
            addTaskForm.controls['taskDueDate'].touched &&
            addTaskForm.controls['taskDueDate'].hasError('required')
          "
          class="error-text"
        >
          Please select a due date.
        </small>
      </div>

      <!-- Submit Button -->
      <button type="submit" class="submit-btn">Add Task</button>
    </form>
  </div>
</div>
