<!-- Show Sidebar and Main Component only if the user is logged in and NOT on the login page -->
<ng-container *ngIf="isLoggedIn() && !isLoginPage(); else showRouterOutlet">
  <app-sidebar
    [isLeftSidebarCollapsed]="isLeftSidebarCollapsedValue"
    (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)"
  ></app-sidebar>

  <app-main
    [isLeftSidebarCollapsed]="isLeftSidebarCollapsedValue"
    [screenWidth]="screenWidthValue"
  ></app-main>
</ng-container>

<!-- Show only the Router Outlet if the user is not logged in or is on the login page -->
<ng-template #showRouterOutlet>
  <router-outlet></router-outlet>
</ng-template>
