<div class="content">
  <app-navbar />
  <main>
    <div class="header">
      <div class="left">
        <h1>Tasks</h1>
        <ul class="breadcrumb">
          <li><a> Dashboard </a></li>
          <li><a class="active">Task List</a></li>
        </ul>
      </div>
      <a class="report">
        <i class="bx bx-cloud-download"></i>
        <span>Download Task PDF</span>
      </a>
    </div>
    <!-- Insights -->
    <ul class="insights">
      <li>
        <i class="bx bx-task"></i>
        <span class="info">
          <h3>40</h3>
          <p>Tasks assigned to you</p>
        </span>
      </li>
      <li>
        <i class="bx bx-time-five"></i>
        <span class="info">
          <h3>5</h3>
          <p>Today's Tasks</p>
        </span>
      </li>
      <li>
        <i class="bx bx-error"></i>
        <span class="info">
          <h3>4</h3>
          <p>Tasks overdue</p>
        </span>
      </li>
      <li>
        <i class="bx bx-check-circle"></i>
        <span class="info">
          <h3>7</h3>
          <p>Tasks completed</p>
        </span>
      </li>
      <li>
        <i class="bx bx-plus-circle"></i>
        <span class="info">
          <h3>7</h3>
          <p>Tasks created by you</p>
        </span>
      </li>
    </ul>
    <!-- End of Insights -->
    <app-task-table (addTaskClicked)="openModal()"></app-task-table>
  </main>
  <app-addtask-modelpopup
    *ngIf="isModalOpen"
    (closePopup)="closeModal()"
  ></app-addtask-modelpopup>
</div>
